@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

.small-screen {
 display: none;
}

.small-screen-grid {
  display: none;
}

.show-sidebar {
  transform: translateX(0);
  height: 100%;
}

@media screen and (max-width: 640px) {
 .small-screen {
   display: block;
  }
  .small-screen-grid{
    display: grid;
  }
 .big-screen {
   display: none;
  }
 .small-img{
  width: 9rem;
 }
}