@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

.small-screen {
 display: none;
}

@media screen and (max-width: 640px) {
 .small-screen {
   display: block;
  }
 .big-screen {
   display: none;
  }
 .small-img{
  width: 10rem;
 }
}